.product-status-container{
    margin-left: 300px;
    margin-top: -290px;
    height: 200px;
    width: 100%;
    align-items: center;
}

.status-container{
    margin-top: 60px;
    display: flex;
    gap: 40px;
}

.status-box{
    border-radius: 17px;
    display: flex;
    align-items: center;
    gap: 70px;
    width: 250px;
    height: 50px;
    box-shadow: 3px 3px 20px gray;
    background-color: #f5f5f5;
}

.line{
    width: 1px;
    height: 50px; 
    background-color: #ccc;
    margin: 0 10px;
}

.status-box p{
    margin-left: 25px;
    color: #555;
}

.status-box h2{
    margin: 0;
    margin-left: -15px;
}

.status-box.out-of-stock h2 {
    margin-left: 15px;
    color: red;
}
  
.status-box.in-stock h2 {
    margin-left: 45px;
    color: green;
}

.container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 10px;
}

.container .search-input {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #1c1818;
    outline: none;
    font-size: 16px;
    max-width: 200px;
}

.button-container{
    margin-left: 570px;
    display: flex;
    gap: 10px;
}

.button {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #0E2547;
    font-size: 16px;
    color: white;
    align-items: center;
    cursor: pointer;
}

.table{
    margin-left: -300px;
}

.add-icon{
    margin-left: 5px;
}

.dropdown-arrow {
    margin-left: 4px;
}