.page {
    height: 100vh; 
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #0E2547;
}

.login-card {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 20px gray;
    width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    padding: 20px;
    flex: 1;
}

.text {
    margin-left: 8%;
    margin-top: 8px;
    color: black;
    margin-bottom: 20px;
}

.text h2 {
    margin-bottom: 5px;
    margin-top: -20px;
    font-size: xx-large;
    font-weight: 500;
}

#p1 {
    font-size: x-large;
}

.text p {
    font-size: medium;
    margin-top: 2px;
}

.form-group {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

div.form-group .login-label {
    margin-left: 8%;
    margin-bottom: 5px;
    width: 100%;
    font-size: medium;
    font-weight: 490;
}

div.form-group .login-label::after {
    content: none;
}

div.form-group .login-input {
    width: 100%;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #a6a0a0;
    border-radius: 10px;
}

div.form-group .login-select {
    padding: 10px;
    border: 1px solid #a6a0a0;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 105%;
    border-radius: 10px;
}

.submit-button {
    width: 106%;
    padding: 12px 15px;
    background-color: #0E2547;
    color: white;
    border: none;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.image-container {
    display: flex;
    align-items: center;
}

.login-link {
    margin-left: 8%;
    display: inline-flex;
    width: 110%;
}

.login-link a {
    margin-left: 58%;
    text-decoration: none;
    margin-top: 15px;
}
