.title {
    color: black;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 350px;
    font-size: 25px;
}

.return-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.request-return-container {
    flex: 1; 
    max-width: 600px; 
    margin-left: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    font-size: large;
}

.input-field {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 70%;
}

.select-field{
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 73%;
}


textarea.input-field {
    resize: vertical;
}

.form-group1 {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.return-cancel-button,
.return-button {
    width: 150px;
    height: 50px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.return-cancel-button {
    background-color: rgb(255, 255, 255);
    border: 1px solid #0E2547;
    color: #0E2547;
}

.return-button {
    background-color: #0E2547;
    color: white;
}

.image-container img {
    width: 450px; 
    height: auto;
}
