.login-card{
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 20px gray;
    overflow: hidden;
    width: auto;
}

.form-container{
    padding: 20px;
    flex: 1;
}

.text{
    margin-left: 8%;
    margin-top: 8px;
}

.text h2{
    margin-bottom: 5px;
    margin-top: -20px;
    font-size: xx-large;
    font-weight: 500;
}

#p1{
    font-size: x-large;
}

.text p{
    font-size: medium;
    margin-top: 2px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: inline;
    margin-left: 8%;
    margin-bottom: 5px;
    font-weight: 370;
}

input, select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 8%;
    border-radius: 10px;
}

button{
    width: 107%;
    padding: 10px 15px;
    background-color: #0E2547;
    color: white;
    border: none;
    margin-left: 8%;
    border-radius: 20px;
    cursor: pointer;
}

.image-container{
    padding-top: 70px;
}

.login-link{
    margin-left: 8%;
    display: inline-flex;
    width: 110%;
}

.login-link a{
    margin-left: 30%;
    margin-top: 15px;
}

#user-role{
    width: 106%;
}