.table-container {
    width: 1070px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .table-scrollable table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-scrollable {
    height: 380px; 
    overflow-y: auto;
  }
  
  .table-scrollable td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #aebbe2;
    
  }
  
  .table-scrollable th {
    padding: 12px;
    background-color: #e0e7f5;
    color: #0E2547;
    font-weight: bold;
    position: sticky;
    top: 0; 
  }
  
  .in-stock {
    color: green;
  }
  
  .out-of-stock {
    color: red;
  }
  