.tableContainer {
    width: 1070px;
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.tableWrapper {
    height: 300px; 
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.orderTable {
    width: 100%;
    border-collapse: collapse;
}

.orderTable th, .orderTable td {
    padding: 12px 16px;
    text-align: center;
    font-size: 16px;
}

.orderTable th{
    padding: 12px;
    background-color: #e0e7f5;
    color: #0E2547;
    font-weight: bold;
    position: sticky;
    top: 0; 
}

.orderTable td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #aebbe2;
}

.orderTable th {
    background-color: #e0e7f5;
    color: #0E2547;
    font-weight: 600;
    position: sticky;
}

.orderTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.orderTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.orderTable tbody td {
    color: #555;
}
